syntax="proto3";

{{- $c:=ne .Protopkg ""}}
{{- if $c}}
package {{.Protopkg}};
{{- end}}
option go_package = "/api";
{{ $tableName := .GoTableName}}

import "google/protobuf/empty.proto";
{{if .ImportTime}}
import "google/protobuf/timestamp.proto";
{{end}}
service {{.GoTableName}}Service { 
    rpc Create{{.GoTableName}}({{.GoTableName}})returns({{.GoTableName}});
    rpc Delete{{.GoTableName}}({{.GoTableName}}{{.PrimaryKey.GoColumnName}})returns(google.protobuf.Empty);
    rpc Update{{.GoTableName}}(Update{{.GoTableName}}Req)returns({{.GoTableName}});
    rpc Get{{.GoTableName}}({{.GoTableName}}{{.PrimaryKey.GoColumnName}})returns({{.GoTableName}});
    rpc List{{.GoTableName}}s(List{{.GoTableName}}sReq)returns(List{{.GoTableName}}sResp);
    rpc List{{.GoTableName}}sMore(List{{.GoTableName}}sMoreReq)returns(List{{.GoTableName}}sMoreResp);
}

message {{.GoTableName}} {

{{- range $index,$field := .Fields }}
    //{{$field.ColumnComment}}
  {{if $field.IsPostgresArray}} repeated {{end}}  {{$field.ProtoType }}	{{ $field.ColumnName }} = {{Incr $index}} ; {{- if ne $field.GoTags ""}} // @gotags: {{$field.GoTags}} {{- end}}
{{- end}}  
}

enum {{.GoTableName}}Field{
    {{$tableName}}_unknow = 0;
  {{- range $index,$field := .Fields }}
    {{$tableName}}_{{ $field.ColumnName }} = {{Incr $index}};
{{- end}}   
}

message {{.GoTableName}}{{.PrimaryKey.GoColumnName}}{
    {{.PrimaryKey.ProtoType}} {{.PrimaryKey.ColumnName}} = 1 ; 
}

message Update{{.GoTableName}}Req{
    {{.GoTableName}} {{.TableName}} = 1 ;
    repeated {{.GoTableName}}Field masks  = 2 ;
}

message {{.GoTableName}}OrderBy {
  {{.GoTableName}}Field field = 1;
  bool desc = 2;
} 
message {{.GoTableName}}FilterOr{
 repeated {{.GoTableName}}Filter filters = 1;
}
message {{.GoTableName}}Filter{
    {{.GoTableName}}Field field = 1;
    string op = 2;
    string val = 3;
}


message List{{.GoTableName}}sReq{
    int32 page = 1 ;
    int32 page_size = 2 ;
    repeated {{.GoTableName}}OrderBy orderbys = 3 ; 
    repeated {{.GoTableName}}Filter filters = 4 ; 
    repeated {{.GoTableName}}Field  select_fields = 5; 

}

message List{{.GoTableName}}sResp{
    repeated {{.GoTableName}} {{.TableName}}s = 1 ; 
    int32 total_count = 2 ;   
    int32 page_count = 3 ; 
    int32 page_size = 4;
    int32 page = 5;
}


message {{.GoTableName}}Cursor{
    repeated {{.GoTableName}}FilterOr next_page_filters = 1 ; 
    repeated {{.GoTableName}}OrderBy orderbys = 2 ; 
    repeated {{.GoTableName}}Filter filters = 3 ; 
    repeated {{.GoTableName}}Field select_fields = 4; 
}

message List{{.GoTableName}}sMoreReq{
    string page_token = 1;  
    int32 page_size = 2 ;
    {{.GoTableName}}Cursor cursor = 3;
}
message List{{.GoTableName}}sMoreResp{
    string next_page_token = 1;
    repeated {{.GoTableName}} {{.TableName}}s = 2 ; 
    bool has_more = 3;
} 
